<a href="https://colab.research.google.com/github/fxmike/data-science-bootcamp/blob/main/02_analiza_danych/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

series

In [ ]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:
s = pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [ ]:
s = pd.Series(data=[3.,2,4,6])
s

0    3.0
1    2.0
2    4.0
3    6.0
dtype: float64

In [ ]:
import numpy as np

In [ ]:
s = pd.Series(data=[3,np.nan,4,6], index=['a','b','c','d'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [ ]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101',periods=10))

In [ ]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [ ]:
s = pd.Series(data=['python','java','sql'], name='languages')

In [ ]:
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [ ]:
s.dtypes

dtype('O')

In [ ]:
price = pd.Series(data={'Apple': 200, 'CDR' : 60, 'AMZ' : 1900, 'KGHM': np.nan})
price

Apple     200.0
CDR        60.0
AMZ      1900.0
KGHM        NaN
dtype: float64

In [ ]:
price['CDR']

60.0

In [ ]:
price[1]

60.0

In [ ]:
price.count()

3

In [ ]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [ ]:
price.sum()

2160.0

In [ ]:
price.min()

60.0

In [ ]:
price.max()

1900.0

In [ ]:
price.std()

1024.3046421841502

In [ ]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.nlargest(2)

AMZ      1900.0
Apple     200.0
dtype: float64

In [ ]:
price.nsmallest(2)

CDR       60.0
Apple    200.0
dtype: float64

In [ ]:
price.rank() #uporządkowanie obiektu series

Apple    2.0
CDR      1.0
AMZ      3.0
KGHM     NaN
dtype: float64

In [ ]:
price.sort_values(ascending=False)

AMZ      1900.0
Apple     200.0
CDR        60.0
KGHM        NaN
dtype: float64

In [ ]:
price_pln = price.apply(lambda x: x*3.8)
price_pln

Apple     760.0
CDR       228.0
AMZ      7220.0
KGHM        NaN
dtype: float64

In [ ]:
price

Apple     200.0
CDR        60.0
AMZ      1900.0
KGHM        NaN
dtype: float64

dataframe

In [ ]:
df = pd.DataFrame(data=[12,12,32])

In [ ]:
df

    0
0  12
1  12
2  32

In [ ]:
df = pd.DataFrame(data=[12,12,32], index=['first','second','third'], columns=['col_1'])

In [ ]:
df

        col_1
first      12
second     12
third      32

In [ ]:
df = pd.DataFrame(data={'WIG20' : ['PKN', 'PKO'], 'mWIG40':['Amica','Playway']})

In [ ]:
df

  WIG20   mWIG40
0   PKN    Amica
1   PKO  Playway

In [ ]:
df = pd.DataFrame(data=[[10,12,13], [23,12,10]], index=['first','second'], columns=['col_1','col_2','col_3'])

In [ ]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [ ]:
df.index

Index(['first', 'second'], dtype='object')

In [ ]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 144.0+ bytes

In [ ]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

In [ ]:
df.T

       first  second
col_1     10      23
col_2     12      12
col_3     13      10

In [ ]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [ ]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [ ]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [ ]:
df[['col_1']]

        col_1
first      10
second     23

In [ ]:
df.columns = ['a', 'b', 'c']

In [ ]:
df

         a   b   c
first   10  12  13
second  23  12  10

In [ ]:
df.a

first     10
second    23
Name: a, dtype: int64

In [ ]:
df['d'] = df.a + df.c

In [ ]:
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [ ]:
df = pd.DataFrame(data=[[10,12,13], [23,12,10]], index=['first','second'], columns=['col_1','col_2','col_3'])

In [ ]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [ ]:
df.loc['second']

col_1    23
col_2    12
col_3    10
Name: second, dtype: int64

In [ ]:
df.loc['first', 'col_2']

12

In [ ]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [ ]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [ ]:
df.iloc[0, 1]

12